.iFrame {
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.time-set {
  padding-top: 30px;
}
.party-specifics {
  padding: 0;
  display: inline-flex;
}

#time1, #time2, #time3 {
  display:  block;

}
.party-details-container {
  border: 5px outset #c3e5e0;
  border-radius: 20px;
  margin-top: 0px;
  padding: 0;
}
.party-specifics-center {
  padding: 30px 0;
  margin: 0 auto;
}

#slogan {
  font-size: 55px;
}
