.iFrame {
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.time-set {
  padding-top: 30px;
}
.party-specifics {
  padding: 0;
  display: inline-flex;
}

#time1, #time2, #time3 {
  display:  block;

}

.confirmDetails {
  margin-left: 12%;
}

.party-details-container {
  border: 5px outset #c3e5e0;
  border-radius: 20px;
  margin-top: 0px;
  padding: 0;
}
.party-specifics-center {
  padding: 30px 0;
  margin: 0 auto;
}

#slogan {
  font-size: 2em;
}
#logo-contain-pre {
  position: absolute;
  width: 100%;
  height: 691px;
  top: -345px;
  background-color: #e8f7f5;
  z-index: 100;
}

#logo-contain-post {
  position: absolute;
  width: 100%;
  background-color: #e8f7f5;
  top: -131px;
  height: 30%;
  z-index: 80;
  }


#logo-contain-pre.ng-leave{
  transition: 2s;
}
#logo-contain-pre.ng-leave-active{
  opacity: 0;
}

#gathr-logo-pre {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-35%);
}
#gathr-logo-post {
  width: 17%;
  position: absolute;
   left: 50%;
   top: 0%;
   transform: translate(-50%,-56%);
 }

 @media only screen and (min-width : 320px) and (max-width : 768px) {
   #click.container-fluid {
     width: 80%;
   }
  #gathr-logo-post {
    width: 43%;
   }
 }

 @media only screen and (min-width : 769px) and (max-width : 1024px) {

 }

 @media only screen and (min-width : 1024px) and (max-width : 1224px) {

 }

 @media only screen and (min-width : 1224px) {

 }


 +/*Confirmation
 +Page media queries*/
