/*Styling for Join-Party and Log-in partials*/
.container-fluid {
  background-color: green;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 20px 10px 60px 10px;
  margin-top: 100px;
  width: 50%;
}
input {
  border-radius: 20px;
  width: 70%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-size: 24px;
}

.button {
  border: none;
  color: black;
  border-style: outset;
  border-radius: 20px;
  width: 70%;
  padding: 5px;
}

p {
  margin-top: 10px;
}
a {
  color: blue;
}
a:hover {
  color: lime;
}
/*Styling for Join-Party and Log-in partials*/

/*Styling for Party Icons Div*/
.img-icon {
  width: 100%;
  padding: 5px;
}
.icon-header {
  text-align: center;
}
.show-all , .clear-all, .save {
  text-align: center;
	margin: 10px auto;
	display: block;
	width: 175px;
	cursor:pointer;
	font-size: 25px;
	color: #F0F0F0;
	border-radius: 10px;
	border-bottom: 4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;
	background: -webkit-linear-gradient(#00C8F8, #0067F7);
  background: -o-linear-gradient(#00C8F8, #0067F7);
  background: -moz-linear-gradient(#00C8F8, #0067F7);
  background: linear-gradient(#00C8F8, #0067F7);
	background-size:1px 200px;
	transition: all .05s linear;
}
.show-all:hover , .clear-all:hover, .save:hover {
  background-position:100px;
}
.show-all:active , .clear-all:active , .save:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #0045A6;
  transform: translateY(3px);
}
.img-icon:active {
  transform: translateY(8px);
}
.baby-icon {
  height: 60px;
  padding: 10px;
}
/*Styling for Party Icons Div*/
