body {
  font-family: 'Varela Round', sans-serif;
  background-color: #e8f7f5;
}
/*Styling for Join-Party and Log-in partials*/
.container-fluid {
  background-color: #00DFE9;
  border-radius: 300px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 3px 3px #00bec6;
  color: white;
  padding: 20px 10px 60px 10px;
  margin-top: 100px;
  width: 50%;
  border: 10px solid #FFF994;
  margin-bottom: 150px;
}
.login-input {
  border-radius: 20px;
  width: 70%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-size: 24px;
}

.button {
  border: none;
  color: black;
  border-style: outset;
  border-radius: 20px;
  width: 70%;
  padding: 5px;
}

p {
  margin-top: 10px;
}
a {
  color: blue;
}
a:hover {
  color: lime;
}

/*Styling for Join-Party and Log-in partials*/

/*Styling for Party Icons Div*/
.img-icon {
  width: 100%;
  padding: 5px;
}
.icon-header {
  text-align: center;
}
.show-all , .clear-all, .save, .button {
  text-align: center;
	margin: 10px auto;
	display: block;
	width: 175px;
	cursor:pointer;
	font-size: 25px;
	color: #F0F0F0;
	border-radius: 10px;
	border-bottom: 4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;
	background: -webkit-linear-gradient(#00C8F8, #0067F7);
  background: -o-linear-gradient(#00C8F8, #0067F7);
  background: -moz-linear-gradient(#00C8F8, #0067F7);
  background: linear-gradient(#00C8F8, #0067F7);
	background-size:1px 200px;
	transition: all .05s linear;
}
.show-all:hover , .clear-all:hover, .save:hover, .button:hover {
  background-position:100px;
}
.show-all:active , .clear-all:active , .save:active, .button:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #0045A6;
  transform: translateY(3px);
}
.img-icon:active {
  transform: translateY(8px);
}
.baby-icon {
  height: 60px;
  padding: 10px;
}
/*Styling for Party Icons Div*/

/*Styling for Party Details Directive*/
  /*Date*/
#date-container {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}
#date-container {
  display: block;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
#date-day {
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

#date-month {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
#date-date {
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
#date-container:hover , #date-container:focus {
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}
@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}
  /*Date*/
.eventName {
    color: grey;
    font-size: 32px;
    text-align: left;
}
#time-container, #time1, #time2, #time3 {
  text-align: center;
  margin: 0 auto;
}
#time-container {
  padding: 30px;
  width: 144px;
}

#location-container {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}
/*Style for Logo*/
.gathr-g {
  padding: 10px;
  margin-left: 60px;
  width: 60%;
}
.gathr-logo {
  margin-left: 25%;
  padding-top: 100px;
  padding-bottom: 300px;
  /*width: 50%;*/
  text-align: center;
}
/*Party View Add Button/input Styling*/
.add-button {
  border-radius: 10px;
}
.item-input {
  border-radius: 10px;
}
/*Profile View Styling*/
.user-data {
  text-align: center;
  margin: 0 auto;
}
#user-img {
  width: 10%;
}
.scroll-containter {
  overflow: scroll;
  max-height: 700px;
}

/*glyphicons for guest list directive*/
.glyphicon.glyphicon-attending:before {
    content: "\25cf";
    font-size: 1.5em;
    color: green;
}

.glyphicon.glyphicon-not-attending:before {
    content: "\25cf";
    font-size: 1.5em;
    color: red;
}

.glyphicon.glyphicon-undecided:before {
    content: "\25cf";
    font-size: 1.5em;
    color: yellow;
}
