body {
  font-family: 'Varela Round', sans-serif;
  background-color: #e8f7f5;
  position: relative;
}
/*Custom Save Modal for Party Page Mobile*/
.mobile-party-page__modal {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  z-index: 2000;
}
.mobile-party-page__modal.isActive {
  display: block;
}

/*MOBILE STYLING*/
.mobile-itemList {
  padding-bottom: 30px;
}
.mobile-buttonCtn {
  top: 0;
  margin-bottom: 100px;
}

 /*
LOG IN
 */
.container-fluid {
  background-color: #00DFE9;
  border-radius: 300px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 3px 3px #00bec6;
  color: white;
  padding: 20px 10px 60px 10px;
  margin-top: 250px;
  width: 50%;
  border: 10px solid #FFF994;
  margin-bottom: 150px;
}
.login-input {
  border-radius: 20px;
  width: 70%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black;
  font-size: 24px;
}

.login-text {
  margin-top: 10px;
}

.login-a {
  color: blue;
}

.login-a:hover {
  color: #FFF994;
  text-shadow: none;
}

#hintModal {
  color: black;
  text-shadow: none;
}

/*
LOGO
*/
.gathr-g {
  padding: 10px;
  margin-left: 60px;
  width: 60%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {

  #join-party {
   font-size: 25px;
  }
  .login-input {
    width: 80%;
    padding: 5px 10px;
    font-size: 15px;
    margin: 21px 0 0 0;
 }
 .container-fluid {
   border-radius: 100px;
   margin-bottom: 25%;
   width: 70%;
   height: 236px;
 }
 .login-text {
   display: none;
 }
 #login-btn {
     width: 100px !important;
     font-size: 16px !important;
     margin: 20px 0 !important;
   }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /*.gathr-logo {
    margin-left: 7%;
    width: 80%;
  }*/
  /*
 LOG IN
  */
  #join-party {
   font-size: 32px;
  }
  .login-input {
   width: 80%;
   font-size: 20px;
 }
 .container-fluid {
 }
 .login-text {
   display: none;
 }
 button.button {
     width: 150px;
     font-size: 20px;
   }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  /*.gathr-logo {
    margin-left: 25%;
    padding-top: 25px;
    padding-bottom: 300px;
    width: 50%;
    text-align: center;
  }*/
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  /*.gathr-logo {
    margin-left: 25%;
    padding-top: 25px;
    padding-bottom: 300px;
    width: 50%;
    text-align: center;
  }*/

}

/*styling for suggest item on mobile view*/
herokugest-mobile {
  background-color: white;
  margin-top: 20px;
  margin: 20px;
  padding: 10px 0px 10px 60px;
}

/*Styling for Party Icons Div*/
.img-icon {
  width: 80%;
  padding: 5px;
}
.sug-icon {
  width: 50%;
  padding: 10px;
  margin-left: 25%;
}
.icon-header {
  text-align: center;
}
/*Button Styling*/

.desktop-buttons {
  text-align: center;
  margin: 0 auto;
}
.save, .checkout-button, .button, #login-btn {
  text-align: center;
	margin: 10px auto;
	display: inline-block;
	width: 175px;
	cursor:pointer;
	font-size: 25px;
	color: #F0F0F0;
	border-radius: 10px;
	border-bottom: 4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;
	background: -webkit-linear-gradient(#00C8F8, #0067F7);
  background: -o-linear-gradient(#00C8F8, #0067F7);
  background: -moz-linear-gradient(#00C8F8, #0067F7);
  background: linear-gradient(#00C8F8, #0067F7);
	background-size:1px 200px;
	transition: all .05s linear;
}
.show-all , .clear-all {
  text-align: center;
	margin-left: 15px;
  margin-bottom: 10px;
	display: inline-block;
	width: 100px;
	cursor:pointer;
	font-size: 15px;
	color: #F0F0F0;
	border-radius: 10px;
	border-bottom: 4px solid #0045A6;
	box-shadow: 6px 6px 6px #999;
	background: -webkit-linear-gradient(#00C8F8, #0067F7);
  background: -o-linear-gradient(#00C8F8, #0067F7);
  background: -moz-linear-gradient(#00C8F8, #0067F7);
  background: linear-gradient(#00C8F8, #0067F7);
	background-size:1px 200px;
	transition: all .05s linear;
}
.show-all:hover , .clear-all:hover, .save:hover, .checkout-button:hover, .button:hover, #login-btn:hover {
  background-position:100px;
}
.show-all:active , .clear-all:active , .save:active, .checkout-button:active, .button:active, #login-btn:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #0045A6;
  transform: translateY(3px);
}
.img-icon:active, .sug-icon:active {
  transform: translateY(8px);
}
.baby-icon {
  height: 60px;
  padding: 10px;
}
.filter-status {
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}
/*Styling for Party Icons Div*/

/*Styling for Party Details Directive*/
  /*Date*/
#date-container {
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 2em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow-y: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}
#date-container {
  display: block;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
#date-day {
  position: absolute;
  bottom: 0.3em;
  color: #fd9f1b;
}

#date-month {
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;
}
#date-date {
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}
iframe {
  margin-top: 71px;
  border-bottom-right-radius: 20px;
  height: 166px;
}
/*#date-container:hover , #date-container:focus {
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}
@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}*/
  /*Date*/
.eventName {
    color: grey;
    font-size: 32px;
    text-align: left;
    margin-top: 20px;
}
#time-container, #time1, #time2, #time3 {
  text-align: center;
  margin: 0 auto;
}
#time-container {
  padding: 30px;
  width: 144px;
}

#location-container {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}

/*Party View Add Button/input Styling*/
.add-button {
  border-radius: 10px;
}
.item-input {
  border-radius: 10px;
}
/*Profile View Styling*/
.user-data {
  text-align: center;
  margin: 0 auto;
}
#user-img {
  width: 10%;
}
.scroll-containter {
  overflow-y: scroll;
  max-height: 500px;
}
/*Styling for Checkbox on party page*/
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.close {
  color: red;
}
.close:hover {
  color: darkred;
}
/*Styling for Checkbox on party page*/

/*Tooltips*/
.custom-tooltip {
    display: none;
    background-color: white;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    z-index: 200;
    padding: 10px 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    /*box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);*/
}
.custom-tooltip:before{
    content: '';
    background-color: white;
    width: 14px;
    z-index: -1;
    height: 14px;
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) rotate(45deg);
    opacity: 0.8;
}
.custom-tooltip-wrapper:hover .custom-tooltip{display: block; color: black;}
.custom-tooltip-wrapper{position: relative;}
/*Tooltips*/

/*
Guest List
*/
#container-guestList {
  border: 5px outset #c3e5e0;
  border-radius: 20px;
}
.header-guestList {
  text-align: center;
  font-size: 24px;
}
#guest-list {
  font-family: 'Varela Round', sans-serif;
}
#overflow-guestList {
  overflow-y: scroll;
  max-height: 300px;
}
.attending, .undecided, .not-attending {
  text-align: center;
}
.attending:hover {
  color: green;
}
.undecided:hover {
  color: #d6c615;
}
.not-attending:hover {
  color: red;
}
/*Styling for Users List on Party Page*/
.glyphicon.glyphicon-attending:before {
    content: "\25cf";
    font-size: 1.5em;
    color: green;
}

.glyphicon.glyphicon-not-attending:before {
    content: "\25cf";
    font-size: 1.5em;
    color: red;
}

.glyphicon.glyphicon-undecided:before {
    content: "\25cf";
    font-size: 1.5em;
    color: yellow;
}
.glyphicon-ok {
  color: green;
}
/*Styling for Users List on Party Page*/


 /*
Party Page
Items Category Table
 */
#items-table {
  background-color: white;
  margin-top: 20px;
  /*border: 3px outset lightgrey;*/
}
#confirm-table {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
#table-cat {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-left: 15px;
}
.checkbox-name {
  width: 20%;
}
.table-header {
  width: 300px;
}

.eventName-container {
  border-bottom: 2px outset #c3e5e0;
  padding: 10px;
}
.host {
  float: right;
  margin-top: 25px;
  font-size: 22px;
}
.mobileIcon-header {
  text-align: center;
}

#slogan {
  font-size: 10px;
}
 /*
Party Page
Media Queries
 */
 /* Smartphones (portrait and landscape) ----------- */
 @media only screen and (min-width : 320px) and (max-width : 768px) {
  .desktop-partyDetails, .desktop-guestList, .desktop-itemList, .gathr-g, .show-all, .clear-all, #cat-icons, #desktop-partyDetails {
     display: none;
   }
   .mobile-buttonCtn {
     margin: 0 auto;
     text-align: center;
   }
   .mobile-partyDetails {
     width: ;
   }
   .mobile-guestList {
     width: 100%;
   }
   .sug-icon {
     width: 100%;
     margin: 0 auto;
   }
   .glyphicon-chevron-down {
     float: right;
     width: 10px;
     height: 10px;
   }
   #collapse2 {
     overflow-y: scroll;
     max-height: 300px;
   }
   .mobile-itemList {
     overflow-y: scroll;
     max-height: 325px;
   }
   .mobile-logo {
     margin-left: 25%;
     width: 50%;
     padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
   }
   /*Save Form Mobile View*/
   .save-form-container {
     text-align: left;
     width: 75%;
     background-color: white;
     padding: 20px;
     margin: 0 auto;
     border-radius: 10px;
   }
   .save-buttonCtn {
     text-align: center;
     margin: 0 auto;
     padding-top: 10px;
   }
   #saveItem-table {
     margin: 0 auto;
     text-align: center;
     width: 75%;
   }
   .mobile-party-page__modal {
     height: 90%;
     width: 90%;
   }
   #mobile-table {
     width: 100px;
     max-height: 10%;
     overflow-y: scroll;
   }
 }


 /* iPads (portrait and landscape) ----------- */
 @media only screen and (min-width : 768px) and (max-width : 1024px) {
   .desktop-partyDetails, .desktop-guestList, .desktop-itemList, .gathr-g, .show-all, .clear-all, #cat-icons, #desktop-partyDetails {
      display: none;
    }
    .mobile-buttonCtn {
      margin: 0 auto;
      text-align: center;
    }
    .mobile-partyDetails {
      width: ;
    }
    .mobile-guestList {
      width: 100%;
    }
    .img-icon {
      width: 60%;
      margin: 0 auto;
      margin-left: 30px;
    }
    .sug-icon {
      width: 60%;
      margin: 0 auto;
      margin-left: 30px;
    }
    .glyphicon-chevron-down {
      float: right;
      width: 10px;
      height: 10px;
    }
    #collapse2 {
      overflow-y: scroll;
      max-height: 300px;
    }
    .mobile-itemList {
      overflow-y: scroll;
      max-height: 325px;
    }
    .mobile-logo {
      margin-left: 25%;
      margin-top: 20px;
      cursor: pointer;
      width: 50%;
      padding-bottom: 10px;
      text-align: center;
    }

    #confirm-table {
      background-color: white;
      margin-top: 10px;
      border-radius: 10px;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 55px;
    }
  th.table-align, h3.table-align {
      text-align: center !important;
    }

    /*Save Form Mobile View*/
    .save-form-container {
      text-align: left;
      width: 75%;
      background-color: white;
      padding: 20px;
      margin: 0 auto;
      border-radius: 10px;
    }
    .save-buttonCtn {
      text-align: center;
      margin: 0 auto;
      padding-top: 10px;
    }
    #saveItem-table {
      margin: 0 auto;
      text-align: center;
      width: 75%;

    }
    .mobile-party-page__modal {
      height: 90%;
      width: 70%;
    }
    #mobile-table {
      width: 20%;
    }
 }
 /* Desktops and laptops ----------- */
 @media only screen and (min-width : 1024px) and (max-width : 1224px) {
   .mobile-partyDetails, .mobile-guestList, .mobile-itemList, #mobile-partyPage, .mobile-party-page__modal {
     display: none;
   }
 }

 /* Large screens ----------- */
 @media only screen and (min-width : 1224px) {
   .mobile-partyDetails, .mobile-guestList, .mobile-itemList, #mobile-partyPage, .mobile-party-page__modal  {
     display: none;
   }
 }


/*Confirmation
Page media queries*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
  #thank-header {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #slogan {
    font-size: 28px;
  }
  .confrim-row {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
  }
  #commit {
    margin-top: 20px;
    margin-bottom: 32px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  #thank-header {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #slogan {
    font-size: 28px;
  }
  .confrim-row {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
  }
  #commit {
    margin-top: 20px;
    margin-bottom: 32px;
  }

}
