<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>THANK YOU, {{checkedOutItems[0].username | uppercase}}!</h1>
      <party-details></party-details>
      <h4>You are brining the following items:</h4>
      <div class="col-xs-12" ng-repeat="item in checkedOutItems | orderBy: 'item'" ng-init="innerIndex = $index">
        <div>
          {{item.item }}  | Qty: {{item.quantity}}
        </div>
      </div>
      <h1>Can't wait to get To'Gathr ;)</h1>
      <a href="#!/login"><button class="button" type="button" name="button">Home</button></a>
    </div>
  </div>
</div> -->

  <div class="container">
    <div class="row confrim-row">
      <div class="col-xs-12">
        <h1 class="text-center" id="thank-header">THANK YOU, {{checkedOutItems[0].username | uppercase}}!</h1>
        <div class="row confrim-row">
        <div class="col-xs-12>">
        <table id="confirm-table" class="table table-hover">
          <div>
          <h4 id="commit" class="text-center">You are commited to bringing the following items:</h4>
        </div>
        <thead>
          <tr>
            <th><h3>Category</h3></th>
            <th><h3>Item</h3></th>
            <th><h3>Quantity</h3></th>
          </tr>
        </thead>
      <tbody>
        <tr ng-repeat="value in checkedOutItems | orderBy: 'item'" ng-init='index = $index'>
          <td><img ng-src="{{value.category}}" class="baby-icon" alt=""></td>
          <td>{{value.item}}</td>
          <td>{{value.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <h2 id="slogan" class="text-center">Can't wait to get To'Gathr ;)</h2>
  </div>
        <party-details id="confirm-partyDetails"></party-details>
        </div>
          </div>
        </div>
        </div>
