<!-- directive template used to repeat items in category -->
<div class="row">

<!-- repeating all items in database and filtering data for view -->
  <div class="col-xs-12" ng-repeat="value in data | orderBy: 'item' | filter: item.category | filter: myOptions" ng-init="innerIndex = $index">

<!-- item in category repeated and click function -->
    <div ng-click="change(value)" onloadedmetadata="">
      <span>{{ value.item }} {{ value.status }}</span>

<!-- img appearing when unfulfilled -->
      <img ng-if="value.status === 'unfulfilled'" src="https://image.flaticon.com/icons/svg/23/23220.svg" style="width: 15px; float: right;" alt="">

<!-- appears to allow current user to uncommit -->
        <span ng-if="value.status === 'committed'">
          {{ value.username }}
          <a ng-if="value.username === currentUser" ng-click="uncommit(value)">X</a>
        </span>
    </div>


  </div>

<!-- add item input repeated for each category to allow adding item to that category -->
  <div class="col-xs-12">
    <input type="text" placeholder="Add Item" ng-model="newItem" ng-submit="addItemtoCategory(newItem, item.category)"><button type="button" name="button" ng-click="addItemtoCategory(newItem, item.category)">ADD</button>
  </div>

</div>
