<!-- directive template used to repeat items in category -->
<div class="row">
  <div class="col-xs-12" ng-repeat="value in data | orderBy: 'item' | filter: item.category | filter: myOptions" ng-init="innerIndex = $index">
    <div ng-click="change(value)" class="checkbox">
      {{value.item}}
      <label>
        <span ng-if="value.status === 'selected'" class="cr"><i  class="cr-icon glyphicon glyphicon-ok"></i></span>
        <span ng-if="value.status === 'unfulfilled'" class="cr"></span>
      </label>
      <span ng-if="value.status === 'committed'">{{value.username}} Qty: {{value.quantity}}<a ng-click="uncommit(value)">X</a></span>
    </div>






  </div>

<!-- add item input repeated for each category to allow adding item to that category -->
  <!-- <div class="col-xs-12">
    <input class="item-input" type="text" placeholder="Add Item" ng-model="newItem" ng-submit="addItemtoCategory(newItem, item.category)"><button type="button" class="add-button" name="button" ng-click="addItemtoCategory(newItem, item.category)">ADD</button>
    <img ng-if="value.val = 'Unfulfilled'" src="https://image.flaticon.com/icons/svg/23/23220.svg" style="width: 15px; float: right;" alt="">
  </div> -->

</div>
