<!-- party directive repeating category by their name -->
<div class="desktop-itemList">
  <div class="row" ng-repeat="item in partyData.items" ng-init="outerIndex = $index">
  <!-- toggle view of category -->
    <div class="row" ng-show="{{item.isVisible}}">
        <div class="row">
          <div class="col-xs-12">
  <!-- directive o repeat items in category -->
            <item-by-category></item-by-category>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- Mobile Item List View -->
<div class="mobile-itemList">
  <div class="row" ng-repeat="item in partyData.items" ng-init="outerIndex = $index">
  <!-- toggle view of category -->
    <div class="row" ng-show="{{item.isVisible}}">
        <div class="row">
          <div class="col-xs-12">
  <!-- directive o repeat items in category -->
            <item-by-category></item-by-category>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row" ng-show="sugVisible">
    <div class="row">
      <div class="col-xs-12">
<!-- directive o repeat items in category -->
        <h3>Contact host to suggest an Item</h3>
        <p>Name: {{partyData.host.fName}} {{partyData.host.lName}}</p>
        <p>Phone: {{partyData.host.phone}}</p>
        <p>Email: {{partyData.host.email}}</p>
        <textarea ng-model="messageSent" name="name" rows="1" cols="45" placeholder="Send your suggested items to the host..."></textarea>
        <button ng-click="suggestToHost()" type="button" name="button">Send</button>
      </div>
    </div>
  </div>
</div>
