<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form class="form">
        <h1>Sign In</h1>
        <input type="text" name="username" placeholder="Username" ng-model="userInfo.username">
        <input type="text" name="password" placeholder="Password" ng-model="userInfo.password">
        <div class="button-container">
        <button type="button" ng-click="submitLogin(userInfo)" class="button" name="signIn">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
