<!-- Event Details Directive -->

{"partyId":"gc1234","partyName":"Grand Circus Demo Day",
"host":{"fName":"Grant","lName":"Chirpus","phone":5555555555,"email":"gc@gc.com"},
"location":"1570 Woodward Ave, Detroit, MI 48226",
"date":{"month":"Aug","day":18},
"time":{"start":"Noon","end":"5:00 PM"},
"items":{"protein":["Hamburgers","Hotdogs","Chicken Breast","Steak","Pork","Ribs","Chicken Wings","Turkey"],"carbs":["Chips","Cornbread","Hotdog Buns","Hamburger Buns","Potatoes"],"fruit":["Bananas","Strawberries","Cherries","Orange Slices","Apple Sliced","Pineapple","Kiwi","Blueberries"],"vegetables":["Green Beans","Corn on the Cob","Sweet Potatoes","Veggie Platter","Salad","Spinach","Cabbage"],"desserts":["Ice Cream","Oreos","Cake","Pudding","Cake Pops","Brownies","Lemon Bars"],"condiments":["Ketchup","Mustard","Sweet Relish","BBQ Sauce","Minced Onions"],"beverages":["Lemonade","Kool-aid","Pop","Water"],"misc":["Cups","Plates","Napkins","Plastic Utensils"]}}
<div> {{ data }}</div>
<div>{{ data.partyId }}</div>
<div>{{ data.partyName }}</div>
<div>Host: {{ data.host.fName }} {{ data.host.lName }}
  Phone: {{ data.host.phone }}
  Email: {{ data.host.email }}</div>
<div>{{ data.location }}</div>
<div>{{ data.date.month }}{{ data.date.day }}</div>
<div>{{ data.time.start }} to {{ data.time.end }}</div>
<div ng-repeat="items in data.items.protein"><p>{{ items }}</p></div>
