{{window}}

<!-- Header: Logo & Event Details -->
<div class="container">
  <div class="row">

    <div class="col-xs-3">
      <img class="gathr-g" src="images/gathrg.png" alt="gathr logo">
    </div>

    <div class="col-xs-9">
<!-- directive for party details -->
      <party-details></party-details>
    </div>

  </div>

<!-- Checkout -->
<a href="#!/confirmation"><button class="button" type="button" name="button">CHECK OUT</button></a>

<!-- Icons by Category Navaigation Bar   -->
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4 class="icon-header">Items by Category</h4>

<!-- all images for catagories -->
        <div class="row">
          <div class="col-xs-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Twemoji_1f357.svg/2000px-Twemoji_1f357.svg.png" class="img-icon" alt="Meat" ng-click="showHideMeat()">
          </div>
          <div class="col-xs-6">
              <img src="https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/carrot-512.png" class="img-icon" alt="Veggie" ng-click="showHideVeg()">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <img src="https://www.shareicon.net/download/2016/10/11/841503_food_512x512.png" class="img-icon" alt="Fruit" ng-click="showHideFruit()">
          </div>
          <div class="col-xs-6">
              <img src="https://www.shareicon.net/download/2016/08/18/808791_food_512x512.png" class="img-icon" alt="Carb" ng-click="showHideCarb()">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <img src="http://www.clker.com/cliparts/2/F/k/8/j/A/ice-cream-silhouette.svg" class="img-icon" alt="Dessert" ng-click="showHideDessert()">
          </div>
          <div class="col-xs-6">
              <img src="https://image.flaticon.com/icons/png/512/168/168323.png" class="img-icon" alt="Condiment" ng-click="showHideCond()">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <img src="https://www.shareicon.net/download/2016/10/18/844991_food_512x512.png" class="img-icon" alt="Beverage" ng-click="showHideBev()">
          </div>
          <div class="col-xs-6">
              <img src="http://www.iconsdb.com/icons/preview/guacamole-green/fork-xxl.png" class="img-icon" alt="Misc" ng-click="showHideMisc()">
          </div>
          <div class="row">
            <div class="col-xs-12">
              <img src="http://icon-icons.com/icons2/625/PNG/512/speech-bubbles_icon-icons.com_57392.png" class="sug-icon" alt="question" ng-click="showHideSug()">
            </div>
          </div>
        </div>

<!-- toggle collaspe add catagories to view -->
        <button type="button" class="show-all" name="show-all" ng-click="showItems()">Show All</button>
<!-- toggle collaspe clear catagories from view -->
        <button type="button" class ="clear-all" name="clear-all" ng-click="clearItems()">Clear All</button>
<!-- commit selected items into database using PUT -->
        <button ng-if="showButton === true" type="button" class="save" ng-click="selectedItems()" name="save" data-toggle="modal" data-target="#myModal">Save</button>
        <button type="button" class="unselect-all" name="unselect-all" ng-click="unselectAllItems()">Unselect All</button>

          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h2 class="modal-title">Sign Up:</h2>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label><h3>Name:</h3></label>
                    <input type="text" class="form-control" id="usr" ng-model="addUsername">
                  </div>
                  <h2></h2>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><h3>Category</h3></th>
                          <th><h3>Item</h3></th>
                          <th><h3>Quantity</h3></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="select in selectedItemsList">
                          <td><img ng-src="{{select.category}}" class="baby-icon" alt=""></td>
                          <td>{{select.item}}</td>
                          <td><input type="number" class="form-control" placeholder="Quantity" id="usr" ng-model="select.quantity"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" ng-click="saveItem()" data-dismiss="modal">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- filter item status -->
      <div class="col-xs-6 scroll-containter" >
        Filter Item Availibility:<select ng-model="myOptions" ng-options="option.val as option.status for option in options">
        </select>

        <!-- directive made to repeat through item categories and contains directive to repeat each item in catagory -->
        <item-list></item-list>
      </div>
        <div class="col-xs-3">
          <guest-list></guest-list>
        </div>
<!-- end of category nav panel to left -->
      </div>

<!-- add item input repeated for each category to allow adding item to that category -->
        <div class="col-xs-12">
          <input class="item-input" type="text" placeholder="Add Item" ng-model="newItem" ng-submit="addItemtoCategory(newItem, item.category)"><button type="button" class="add-button" name="button" ng-click="addItemtoCategory(newItem, item.category)">ADD</button>
          <img ng-if="value.val = 'Unfulfilled'" src="https://image.flaticon.com/icons/svg/23/23220.svg" style="width: 15px; float: right;" alt="">
        </div>


    </div>


  </div>
</div>



<!-- add this button at the bottom of the Items by category when done with Bootstrap -->
