<!-- Party Details Mobile View -->
<div class="mobile-partyDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
<div class="panel-group" id="accordion1">
  <div class="panel panel-default">
    <div class="panel-heading" data-ng-click="touchDetail()"  data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
          <h4 class="panel-title">{{ partyData.partyName }}<span class="glyphicon glyphicon-chevron-down"></span></h4>
      </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="host"><a data-toggle="modal" data-target="#hostContact">Host: {{ partyData.host.fName }} {{ partyData.host.lName }}</a></p>
        <p>Date: {{ partyData.date.month }}, {{ partyData.date.day }}, {{ partyData.date.date }}th</p>
        <p>Time: {{ partyData.time.start }} to {{ partyData.time.end }}</p>
        <p>Address: {{ partyData.location }}</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>





<!-- Party Details Mobile View -->
