<div class='container'> <!--main container-->
        <div class='row'><!--logo row-->
          <div class='col-lg-3'><img class="gathr-g" src="images/gathrg.png" alt="gathr logo"></div> <!--logo div-->
          <div class='col-lg-9'> </div><!--filler-->
        </div>
        <div class='row'> <!--user contact row-->
          <div class='col-lg-2'></div> <!--filler-->
          <div class='col-lg-8'></div> <!--user contact div-->
            <div class='row'> <!--top color partition row-->
              <div class='col-lg-12'></div> <!--top color partition-->
            </div>
            <div class='user-image'> <!--profile image div-->
              <img id="user-img" src='{{showProfile.img}}'><!--profile image-->
            </div>
            <div class='row'> <!--bottom color partition row containing user contact-->
              <div id="user-data" class='col-lg-12'> <!--bottom color partition containing user contact-->
                <p class='user-name'>{{showProfile.name}}</p>
                <p class='user-phone'>{{showProfile.phone}}</p>
                <p class='user-email'>{{showProfile.email}}</p>
              </div>
            </div>
          <div class='col-lg-2'></div> <!--filler-->
        </div>
        <div class='row'> <!--filler row-->
          <div class='col-lg-12'></div> <!--filler-->
        </div>
        <div class='row'> <!--user event list row-->
          <div class='col-lg-2'></div> <!--filler-->
          <div class='col-lg-8 event-list'>
            <show-profile-detail></show-profile-detail>
          </div> <!--user event list div-->
          <div class='col-lg-2'></div> <!-- filler-->
        </div>
      </div>
