<img class="mobile-logo" src="images/gathrall.png" alt="gathr logo">
<form class="save-form-container">
 <fieldset>
  <legend><h3>Sign Up:</h3></legend>
  <label><h3>Name:</h3></label>
    <input type="text" class="form-control" id="user" placeholder="Enter your name" ng-change="nameValid(addUsername)"ng-model="addUsername">
    <table id="saveItem-table" class="table table-hover">
      <thead>
        <tr>
          <th><h4>Category</h4></th>
          <th><h4>Item</h4></th>
          <th><h4>Quantity</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="select in selectedItemsList" ng-init='index = $index'>
          <td><img ng-src="{{select.category}}" class="baby-icon" alt=""></td>
          <td>{{select.item}}</td>
          <td><input type="number" class="form-control" ng-change="qtyValid(select, index)" placeholder="Quantity" ng-model="select.quantity"></td>
        </tr>
      </tbody>
    </table>
    <div class="save-buttonCtn">
    <button type="button" class="btn btn-default" title="Enter Name and Quantity before proceeding" ng-disabled="validation === true" ng-click="saveItem(true, addUsername)" data-dismiss="modal">Save, and Receive Confirmation</button>
    <button type="button" class="btn btn-default" title="Enter Name and Quantity before proceeding" ng-disabled="validation === true" ng-click="saveItem(false, addUsername)" data-dismiss="modal">Save, Continue Looking</button>
    </div>
 </fieldset>
</form>
